#!/bin/bash

#
# set database url
# if not set, mongodb at localhost will be used
#
#export MONGO_URL="mongodb://username:password@real-mongodb.domain.com:port_number/database_name"
#export MONGO_URL="mongodb://username:password@test-mongodb.domain.com:port_number/database_name"

#
# set mail url for SMTP access
#
#export MAIL_URL="smtp://email-address:password@smtp.mail.com:port_number/"

#
# set log directory
# $PROJECT_HOME and $1 will be read from the calling shell script
#
export LOG_DIR="$PROJECT_HOME/logs/$1"

