/*
  The files with name 'settings-<app>.json' are for your read convenience.
  The files with name 'settings-<app>-minified.json' are used at real.
  
  You should set 'settings-front-minified.json' or
  'settings-admin-minified.json' for build your apps.
*/

// unminified version
{
  "public": {
    "ga": {
      "id": "Google Analytics ID",
      "create": {
        "cookieDomain": "none"
      }
    }
  },

  "account": {
    "facebook": {
      "appId": "facebook app ID",
      "secret": "facebook app secret"
    }
  }
}

// minified version
{"public": {"ga": {"id": "Google Analytics ID","create": { "cookieDomain": 
"none"}}},"account": {"facebook": {"appId": "facebook app ID","secret": 
"facebook app secret"}}}

