.meteor-alerts {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  pointer-events: none;
}

.meteor-alert .alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;

  width: 280px;
  float: right;
  clear: both;
  position: relative;
  margin-bottom: 5px;
  pointer-events: auto;
}

.meteor-alert .alert + .alert {
  margin-top: 10px;
}

.meteor-modal-alerts {
  pointer-events: none;
}

.meteor-modal-alerts .alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;

  position: relative;
  margin-bottom: 5px;
  pointer-events: auto;
}

.meteor-alerts .alert p, .meteor-modal-alerts .alert p {
  padding-left: 30px;
  line-height: 2em;
}

.meteor-alerts .alert i, .meteor-modal-alerts .alert i {
  position: absolute;
  top: 10px;
  left: 10px;
}
