<template name="profileView">
  <article class="page">
    <h2 style="display:inline-block;">프로필 뷰 페이지</h2>

    <div class="row-fluid">
      <div class="col-xs-12">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group" role="group">
            <a class="btn btn-default" href="{{pathFor 'profileEdit'}}">
              <i class="fa fa-pencil-square-o"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <!-- User Profile Picture column -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <div class="avatar-wrapper-custom avatar-100">
              <img src="../images/default_profile.png">
            </div>
          </div>
        </div>
      </div>
      <!-- edit form column -->
      <div class="col-md-8 col-sm-6 col-xs-12">
        <ul class="list-group">
          <li class="list-group-item">{{currentUser.username}}</li>
          <li class="list-group-item">
            <i class="fa fa-mail"></i> johndoe@gmail.com
          </li>
        </ul>
      </div>
    </div>


  </article>
</template>
