<template name="cloudinaryUploader">
  <div class="cloudinary-uploader">
    <div class="btn btn-default fileinput-button">
      <i class="fa fa-image"></i>
      <!-- <span>{{i18n 'command_upload'}}</span> -->
      <span>upload</span>
      <input class="cloudinary-fileupload" type="file" name="file" >
    </div>
  </div>
</template>

<template name="uploadProgressBar">
  <div class="progress-wrapper">
    <div id="progress" class="progress progress-xs">
      <div class="progress-bar progress-bar-success"></div>
    </div>
  </div>
</template>