<template name="navMain">

  <div class="aside-left">
    <div class="row-fluid">
      {{#if currentUser}}
        <div class="panel panel-info clearfix">
          <div class="panel-heading">
            <a href="{{pathFor 'profileView'}}" class="avatar-sm">
	            {{{accountPicture}}}
              <span class="user-name">{{userDisplayName currentUser}}</span>
            </a>
            <button class="btn btn-sm pull-right btn-default" data-action="signOut">
              <i class="fa fa-sign-out" title="Logout" style="font-size:15px"></i>
            </button>
          </div>
        </div>
      {{else}}
        <button class="btn btn-info btn-block" data-action="signIn" style="margin-bottom: 5px;">{{_ 'command_sign_in'}}</button>
      {{/if}}
    </div>

    {{> treeMenu}}
    {{> userStatus}}
  </div>

 </template>