<template name="blogsList">
  <article class="page">
    <header>
      <h2>{{_ 'title_blogs'}}</h2>
    </header>

    <section class="ss-list-frame">
      {{#if noBlogs}}
        {{_ 'text_no_blogs'}}
      {{else}}
      <div class="btn-toolbar">
        <p class="">{{getPublishedCount 'blogsCount'}}</p>
      </div>
      <ul class="list">
        {{#each blogs}}
          {{> blogsListItem}}
        {{/each}}

        {{#if hasMore}}
          <a class="load-more" href="#"></a>
        {{else}}
          {{#unless ready}}
            {{> listLoading}}
          {{/unless}}
        {{/if}}
      </ul>
      {{/if}}
    </section>
  </article>

</template>

<template name="blogsListItem">
  <li class="list-item">
    <h4 class = "blog-title"><a href="{{pathFor 'blogOne'}}">{{title}}</a> <small>{{userDisplayName user}} {{momentFromNow createdAt}}</small></h4>
    <p class="line-clamp-2">{{blog_content}}</p>
  </li>
</template>
