<template name="blogEdit">
  <article class="page">
    <header>
      <h2>{{_ 'title_blog_edit'}}</h2>
    </header>

    <section class="ss-form-frame">
      <form id="formBlogEdit" class="ss-form">
        <section>
          <label>{{_ 'label_title'}}</label>
          <input type="text" class="form-control" name="title" value="{{blog.title}}">
        </section>

        <section>
          <label>{{_ 'label_content'}}</label>
          {{{editable}}}
          <!-- textarea class="form-control" name="content" rows="10">{{blog.content}}</textarea -->
        </section>

        <footer>
          <button type="button" id="btnRemove" class="btn btn-danger">{{_ 'command_remove'}}</button>
          <div class="pull-right">
            <button type="button" class="btn btn-default">{{_ 'command_cancel'}}</button>
            <button type="submit" class="btn btn-primary">{{_ 'command_save'}}</button>
          </div>
        </footer>
      </form>
    </section>

  </article>

</template>