<template name="blogNew">
  <!-- div class="ss-path">
    <a href="#" class="btn btn-sm btn-default">{{_ 'command_back'}}</a>
  </div -->
  <article class="page">
    <h2>{{_ 'title_blog_new'}}</h2>

    <form id="formBlogNew">

      <div class="panel panel-default">

        <div class="panel-body">
          <div class="row-fluid">
            {{{title}}}
            <span class="help-block"></span>
          </div>
          <div class="row-fluid">
            <div class="editor-toolbar"></div>
            {{{editable}}}
          </div>
        </div>

        <div class="panel-footer clearfix">
          <div class="btn-toolbar pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default">{{_ 'command_cancel'}}</button>
            </div>
            <div class="btn-group">
              <button type="submit" class="btn btn-primary">{{_ 'command_ok'}}</button>
            </div>
          </div>
        </div>

      </div>

    </form>
  </article>

</template>
