<template name = "draftModal">

  <div class="modal fade" id="draftModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 99999">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header dialog-header">
          <h4 class="modal-title">Drafts</h4>
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body">
          <ul class="userList">
            {{#each draft}}
              <li>
                <p>{{title}}</p>
                <button type="button" class="btn btn-danger">
                  Delete
                </button>
              </li>
            {{/each}}
          </ul>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</template>