<template name="navMain">

  <div class="aside-left">
    <div class="row-fluid">
      {{#if currentUser}}
        <div class="panel panel-info clearfix">
          <div class="panel-heading">
            <a href="{{pathFor 'profileView'}}">
              <img src="{{accountPictureUrl}}" class="img-circle" alt="profile image">
              <span>{{userDisplayName currentUser}}</span>
            </a>
            <button class="btn btn-sm pull-right btn-default" data-action="signOut">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      {{else}}
        <button class="btn btn-info btn-block" data-action="signIn" style="margin-bottom: 5px;">{{_ 'command_sign_in'}}</button>
      {{/if}}
    </div>

    {{> treeMenu}}
    {{> userStatus}}
  </div>

 </template>