<template name="navMain">

  <div class="aside-left">
    <div class="row-fluid">
      {{#if currentUser}}
        <div class="panel panel-info clearfix" style="margin-bottom: 5px;">
          <div class="panel-heading">
            <a href="{{pathFor 'profileView'}}">
              <i class="fa fa-user"></i> <span>{{userDisplayName currentUser}}</span>
            </a>
          </div>
          <div class="panel-body">
            <button class="btn btn-link btn-block" data-action="signOut">{{_ 'command_sign_out'}}</button>
          </div>
        </div>
      {{else}}
        <button class="btn btn-info btn-block" data-action="signIn" style="margin-bottom: 5px;">{{_ 'command_sign_in'}}</button>
      {{/if}}
    </div>
    {{> treeMenu}}
  </div>

 </template>