<template name="treeMenu">
  <ul class="nav nav-pills nav-stacked">

    <!-- Home -->
    <li role="presentation" class="{{activeRoute 'home'}}">
      <a href="{{pathFor 'home'}}">
        <i class="fa fa-lg fa-home"></i> {{_ 'title_home'}}
      </a>
    </li>

    <!-- Blogs -->
    <li role="presentation" class="{{activeRoute 'blogsList'}}">
      <a href="{{pathFor 'blogsList'}}">
        <i class="fa fa-lg fa-list"></i> {{_ 'title_blogs'}}
      </a>
    </li>

    {{#if currentUser}}
    <!-- My Blogs -->
    <li role="presentation" class="{{activeRoute 'myBlogsList'}}">
      <a href="{{pathFor 'myBlogsList'}}">
        <i class="fa fa-lg fa-list"></i> {{_ 'title_my_blogs'}}
      </a>
    </li>

    <!-- New Blog -->
    <li role="presentation" class="{{activeRoute 'blogNew'}}">
      <a href="{{pathFor 'blogNew'}}">
        <i class="fa fa-lg fa-pencil"></i> {{_ 'title_blog_new'}}
      </a>
    </li>

    <!-- User List Modal -->
    <li role="presentation">
      <a href="#" data-toggle="modal" data-target="#userListModal" id="btn-userListModal">
        <i class="fa fa-lg fa-user"></i> {{_ 'title_user_list'}}
      </a>
    </li>
    {{/if}}

    <!-- Preferences -->
    <li role="presentation" class="{{activeRoute 'preference'}}">
      <a href="{{pathFor 'preference'}}">
        <i class="fa fa-lg fa-gear"></i> {{_ 'title_preference'}}
      </a>
    </li>
  </ul>
</template>