<template name="treeMenu">
  <ul class="nav nav-pills nav-stacked">

    <!-- Home -->
    <li role="presentation" class="{{activeRoute 'home'}}">
      <a href="{{pathFor 'home'}}">
        <span class="glyphicon glyphicon-home"> </span> {{_ 'title_home'}}
      </a>
    </li>

    <!-- Blogs -->
    <li role="presentation" class="{{activeRoute 'blogsList'}}">
      <a href="{{pathFor 'blogsList'}}">
        <span class="glyphicon glyphicon-list"></span> {{_ 'title_blogs'}}
      </a>
    </li>

    {{#if currentUser}}
    <!-- My Blogs -->
    <li role="presentation" class="{{activeRoute 'myBlogsList'}}">
      <a href="{{pathFor 'myBlogsList'}}">
        <span class="glyphicon glyphicon-th-list"></span> {{_ 'title_my_blogs'}}
      </a>
    </li>

    <!-- New Blog -->
    <li role="presentation" class="{{activeRoute 'blogNew'}}">
      <a href="{{pathFor 'blogNew'}}">
        <span class="glyphicon glyphicon-pencil"></span> {{_ 'title_blog_new'}}
      </a>
    </li>
    {{/if}}

    <!-- Preferences -->
    <li role="presentation" class="{{activeRoute 'preference'}}">
      <a href="{{pathFor 'preference'}}">
        <span class="glyphicon glyphicon-cog"> </span> {{_ 'title_preference'}}
      </a>
    </li>
  </ul>
</template>