<template name = "userList">

  <div class="modal fade" id="userListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header dialog-header">
          <h4 class="modal-title userModal">{{_ "title_user_list"}}</h4>
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <button type="button" class="btn btn-primary btn-sm new-message">New Message</button>
        </div>
        <div class="modal-body">
          <ul class="userList">
            {{#each usersOnline}}
              <li>
                <div class="inner">
                  <div class="profile-wrapper">
                    <img src="/portrait.jpg">
                  </div>
                  <p>{{username}}</p>
                </div>
              </li>
              <li>
                <div class="inner">
                  <div class="profile-wrapper">
                    <img src="/portrait.jpg">
                  </div>
                  <p>{{username}}</p>
                </div>
              </li>
              <li>
                <div class="inner">
                  <div class="profile-wrapper">
                    <img src="/portrait.jpg">
                  </div>
                  <p>{{username}}</p>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</template>