<template name = "userList">

  <div class="modal fade" id="userListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
          <h4 class="modal-title">{{_ "title_user_list"}}</h4>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <caption>Online Users</caption>
              <thead>
                <tr>
                  <th>{{currentUser.username}}</th>
                </tr>
              </thead>
              <tbody>
                {{#each usersOnline}}
                  <tr>
                    <td>{{username}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</template>