@header-height:                 50px;
@footer-height:                 0;

@aside-left-width:              240px;
@aside-right-width:             240px;
@nav-main-bg:                   #423;

@logo-width:                    260px;
@logo-height:                   30px;

@slide-transition-time:         0.25s;
@page-transition-time:          1s;

@tree-menu-bg:                  transparent; //#fff;
@tree-menu-transition-time:     0.3s;

@notifications-width:           300px;
@notifications-height:          350px;
